html {
  background-color: #F0EABE;
}
h1{
  text-align: center;
  color: #21E1E1;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
}

p{
  color: #3120E0;
}

h3{
  color: #3B9AE1;
}

li
{
  color: #3120E0;
}
