html {
  background-color: #FEF9A7;
}
h1{
  text-align: justify;
  color: #FAC213;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 50px;
}

p{
  color: #D61C4E;
}

h3{
  color: #F77E21;
}

li
{
  color: #D61C4E;
}
